<div id="mainholder" class="clearfix">
<br /><br />
  <h1>Helpful links</h1>
  
  <table class="holiday">
    <tr>
      <td><strong>ACH returns</strong></td>
      <td><%= link_to "www.frbservices.org", "http://www.frbservices.org", :rel=>"external" %></td>
      </tr>
    <tr>
      <td><strong>Sharedraft returns</strong></td>
      <td><%= link_to "www.wave.wescorp.com", "http://www.wave.wescorp.com", :rel=>"external" %></td>
      </tr>
    <tr>
      <td><strong>Wescorp acct</strong></td>
      <td><%=link_to "www.wescorp.com", "http://www.wescorp.com", :rel=>"external" %></td>
      </tr>
    <tr>
      <td><strong>Cuna Mutual</strong></td>
      <td><%= link_to "www.cunamutual.com", "http://www.cunamutual.com", :rel=>"external" %></td>
      </tr>
    <tr>
      <td><strong>ATM</strong></td>
      <td><%= link_to "www.fiserveft.com", "http://www.fiserveft.com", :rel=>"external" %></td>
      </tr>
    <tr>
      <td><strong>Wells Fargo Acct</strong></td>
      <td><%= link_to "www.wellsfargo.com", "http://www.wellsfargo.com", :rel=>"external" %></td>
      </tr>
    <tr>
      <td><strong>Collections</strong></td>
      <td><%= link_to "www.curecovery.com", "http://www.curecovery.com", :rel=>"external" %></td>
      </tr>
    <tr>
      <td><strong>Liberty&nbsp;</strong></td>
      <td><%= link_to "www.culibertysite.com", "http://www.culibertysite.com", :rel=>"external" %></td>
      </tr>
    <tr>
      <td><strong>Payroll Deductions</strong></td>
      <td><%= link_to "www.aupcu.com", "http://www.aupcu.com", :rel=>"external" %></td>
      </tr>
    <tr>
      <td><strong>Credit reports</strong></td>
      <td><%= link_to "www.creditcommander.com", "http://www.creditcommander.com", :rel=>"external" %></td>
      </tr>
  </table>
  <p>&nbsp;</p>
</div>
