<div id="mainholder" class="clearfix">
  <h1>Products</h1>
  <table class="products">
    <tr>
      <td><%= link_to image_tag("banM000008.gif", :alt=>"Resource Center"), "http://members.cunamutual.com/H2/ResourceCenter.aspx?SITE=10410062" %>
      </td>
      <td><%= link_to image_tag("ban02910007.gif", :alt=>"Auto and Home"), "https://members.cunamutual.com/insurance&amp;investments/autohome/home.asp?dest=autoquote&amp;SITE=10410062" %>
      </td>
      <td><%= link_to image_tag("banN030002.gif", :alt=>"banN030002"), "https://members.cunamutual.com/representatives/ssl/RRTIntro.aspx?SITE=10410062" %></td>
    </tr>
    <tr>
      <td><%= link_to "Financial Calculators", "http://members.cunamutual.com/MoneyManagement/default.asp?SITE=10410062" %></td>
      <td><%= link_to "Financial Education Center", "http://members.cunamutual.com/EducationCenter/default.asp?SITE=10410062" %></td>
      <td><%= link_to "AD&amp;D Insurance", "http://members.cunamutual.com/insurance&amp;investments/AccidentalDeathAndDismemberment/Default.ASP?SITE=10410062" %></td>
    </tr>
    <tr>
      <td><%= link_to "MEMBERS Investments", "http://members.cunamutual.com/h2/investments.aspx?SITE=10410062" %></td>
      <td><%= link_to "MEMBERS Auto &amp; Home Insurance", "http://members.cunamutual.com/insurance&amp;investments/AutoHome/Default.ASP?SITE=10410062" %></td>
      <td><%= link_to "Online Services, Products/Services", "http://members.cunamutual.com/service?SITE=10410062" %></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><%= link_to "Resource Center", "http://members.cunamutual.com/H2/ResourceCenter.aspx?SITE=10410062" %></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td colspan="3"><%= link_to image_tag("banNA00019.gif", :alt=>"banNA00019"), "http://members.cunamutual.com/representatives/rep.aspx?SITE=10410062" %></td>
    </tr>
  </table>
  <p>&nbsp;</p>
</div>